body{
    margin: 0;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #E7BB1F, #DF2121);
    padding: 30px 0px;
}
#header>img{
    width: 150px;
    height: 122px;
}
#header>h1{
    margin: 0;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 200px 200px;
    width: 100%;
}
.itens{
    display: flex;
    align-items: center;
    gap: 20px;
}
.itens img{
    width: 25%;
    height: 50%;
}
#botao{
    display: flex;
    gap: 20px;
    justify-content: end;
}
#botao a{
    background-color: black;
    color: white;
    text-decoration: none;
    height: 2em;
    align-content: center;
    margin-right: 20px;
    font-size: 25px;
}